*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root{
  --red:#E3646E;
  --purple:#BB72E9;
  --blue:#3996DB;
  --green:#82BC4F;
  --yellow:#EABD5F;
  --gray-100:#0D0E11;
  --gray-200:#16181D;
  --gray-300:#292C34;
  --gray-400:rgb(135, 142, 161);
  --gray-500:#C0C4CE;
  --gray-600:#E2E4E9; 

  --font-inconsolata: "Inconsolata", monospace;
  --font-asap: "Asap", sans-serif;
  --font-maven-pro: "Maven Pro", sans-serif;
  --fw-base: 400;
  --fw-md: 700;
  --fw-bold: 800;

  --fs-sm: 14px;
  --fs-base: 16px;
  --fs-lg: 20px;
  --fs-xl: 24px;
  --fs-2xl: 56px;
}

html{
  font-family: var(--font-asap);
  font-weight: var(--fw-base);
  font-size: var(--fs-base);
  line-height: 1.4;
  color: var(--gray-400);
  overflow-x: hidden;
  scroll-behavior: smooth;

}
body{
  background-color: var(--gray-100);
}

a{
  text-decoration: none;
  color: inherit;
}



@media (width >= 80em) {
  :root {
   
  }
}

