#tag{
  background-color: var(--gray-300);
  display: inline-flex;
  padding-inline: 16px;
  padding-block: 9px;
  border-radius: 999px;
  align-items: center;
  justify-content: center;
  gap: 8px;
}